.office-bearer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 1rem;
    font-family: "Oswald", sans-serif;
    color: white;
    position: relative;
    padding-top: 30px;
}

.profile-card{
    position: relative;
    font-family: sans-serif;
    width: 250px;
    height: 250px;
    background: #000000;
    padding: 35px;
    border: 2px solid rgb(50, 255, 255);
    border-radius: 50%;
    transition: .6s;
    margin: 0 25px;
}

.profile-card:hover{
    border-radius: 10px;
    height: 260px;
}

.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 0;
  }

.img img{
    width: 100%;
    border-radius: 50%;
    transition: .6s;
}

.profile-card:hover .img{
    transform: translateY(-60px);
}

.profile-card:hover img{
    border-radius: 10px;
}

.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}
.profile-card:hover .caption{
    opacity: 1;
}
.caption h3{
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(235, 235, 235);
}
.caption p{
    font-size: 15px;
    color: #ffd138;
    font-family: sans-serif;
    font-weight: 400;
    margin: 2px 0 9px 0;
}

.caption .social-links a{
    color: #333;
    margin-right: 15px;
    font-size: 21px;
    transition: .6s;
}
.social-links a:hover{
    color: #0c52a1;
}

.students {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 1rem;
    font-family: "Oswald", sans-serif;
    color: white;
    position: relative;
}

.student {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.students h1 {
    color: orangered;
}

.profile-card1{
    position: relative;
    font-family: sans-serif;
    width: 180px;
    height: 180px;
    background: #000000;
    padding: 15px;
    border: 2px solid rgb(108, 255, 164);
    border-radius: 50%;
    transition: .6s;
    margin: 0 25px;
    margin: 30px;
}

.profile-card1:hover{
    border-radius: 10px;
    height: 260px;
}

.profile-card1 .img1{
    position: relative;
    width: 100%;
    height: 80%;
    transition: .6s;
    z-index: 0;
  }

.img1 img{
    width: 100%;
    border-radius: 50%;
    transition: .6s;
}

.profile-card1:hover .img1{
    transform: translateY(-60px);
}

.profile-card1:hover img{
    border-radius: 10px;
}

.caption1{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}
.profile-card1:hover .caption1{
    opacity: 1;
}

.caption1 h3{
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(68, 255, 0);
}
.caption1 p{
    font-size: 15px;
    color: #ffd138;
    font-family: sans-serif;
    font-weight: 400;
    margin: 2px 0 9px 0;
}

.caption1 .social-links1 a{
    color: #333;
    margin-right: 15px;
    font-size: 21px;
    transition: .6s;
}
.social-links1 a:hover{
    color: #0c52a1;
}

.more-members button{
    transition: 0.4s;
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 13px;
    background: linear-gradient(270deg, #894affe8 30%, #2f90ff 70%);    
}

.more-members button:hover {
    transform: scale(1.05);
}

.more-members button a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

@media (max-width: 600px) {
    .staff {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .profile-card{
        border-radius: 10px;
        height: 260px;
    }
    .profile-card .img{
        transform: translateY(-60px);
    }
    
    .profile-card img{
        border-radius: 10px;
    }
    .profile-card .caption{
        opacity: 1;
    }
    .social-links a{
        color: #0c52a1;
    }
    .student {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .profile-card1{
        border-radius: 10px;
        height: 260px;
    }
    .profile-card1 .img1{
        transform: translateY(-60px);
    }
    
    .profile-card1 img{
        border-radius: 10px;
    }
    .profile-card1 .caption1{
        opacity: 1;
    }
    .social-links1 a{
        color: #0c52a1;
    }
}
