nav {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 50px;
    border: 1px solid rgb(0, 217, 255);
    background-color: rgb(27, 27, 27);
    
    padding-right: 13px;
    padding-left: 5px;
    position: sticky;
    z-index: 2;
    top: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-head {
    display: flex;
    gap: 10px;
}

.logo-p {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.logo-img img{
    width: 50px;
    padding: 5px;
}
.logo-section p {
    padding-top: 7px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    padding-left: 0px;
}

ul li {
    list-style-type: none;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    font-weight: 500;
}

ul li a:hover {
    color: rgb(255, 72, 0);
}

.logo-p:hover {
    color: rgb(255, 72, 0);
}

.active {
    transition: 0.2s;
    background-color: rgb(255, 109, 109);
    color: black;
}

.active:hover {
    color: white;
}

.nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    padding: 5px;
}

.nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}

@media (max-width: 978px) {
    nav {
        border-radius: 10px;
    }
    .nav-menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        padding: 10px;
        margin-top: 0px;
    }

    .nav-menu ul.open {
        display: flex;
    }

    ul li a{
        padding: 5px;
        margin: 0.2rem 0.5rem;
    }
    .nav .menu {
        display: flex;
        cursor: pointer;
    }
    .nav {
        flex-direction: column;
        align-items: start;
    }
}